#frontend_

# compiled output
frontend__/harbourvest/dist
frontend_/harbourvest/tmp
frontend_/harbourvest/out-tsc

# dependencies
frontend_/harbourvest/node_modules

# IDEs and editors
frontend_/harbourvest/.idea
frontend_/harbourvest/.project
frontend_/harbourvest/.classpath
frontend_/harbourvest/.c9/
frontend_/harbourvest/*.launch
frontend_/harbourvest/.settings/
frontend_/harbourvest/*.sublime-workspace

# IDE - VSCode
frontend_/harbourvest/.vscode/*
frontend_/harbourvest/!.vscode/settings.json
frontend_/harbourvest/!.vscode/tasks.json
frontend_/harbourvest/!.vscode/launch.json
frontend_/harbourvest/!.vscode/extensions.json

# misc
frontend_/harbourvest/.sass-cache
frontend_/harbourvest/connect.lock
frontend_/harbourvest/coverage
frontend_/harbourvest/libpeerconnection.log
frontend_/harbourvest/npm-debug.log
frontend_/harbourvest/yarn-error.log
frontend_/harbourvest/testem.log
frontend_/harbourvest/typings

#BACKEND

backend/Orders/.vs
backend/Orders/Orders/bin
backend/Orders/Orders/obj